.container{
    display: flex;
    justify-content: center;
    
}

h1{
    margin-top: 6%;
    font-size: var(--font-size-8);
    max-width: 36%;
    font-weight: var(--font-weight-6);
    color: var(--gray-1);
}

.rLink{
 
    font-size: var(--font-size-fluid-1);
    font-weight: var(--font-weight-3);
    font-family: var(--font-sans);
    text-decoration: none;
    color: var(--gray-1);
   
  }

